.add-user-container {
  background-color: rgb(235, 232, 228);
  border-radius: 5px;
  width: 50%;
  height: 350px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  display: block;
  width: 80%;
  margin: auto;
  height: 30px;
  border-radius: 5px;
}

.user-age {
  margin-top: 20px;
}

label {
  display: block;
  width: 80%;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border: 2px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
  margin-top: 20px;
}
